

header{
color:$slovaNaslov;
border-bottom: 1px solid $slovaNaslov;
        h1 {
              font-family:$fontbold;
              font-size:100px;
              margin:0px;
            }
          h2{
         font-size:40px;
         font-family:$fontklasik;
         margin-bottom:0px;
         margin-bottom:40px;
            }
      }
    
