nav{
background-color:$slovaNaslov;
width:100%;
height:60px;
color:$bela;
font-size:30px;
text-align:right;

       a     {
color:$bela;
font-size:30px;
font-family:$fontklasik;

             }
     }
 ul{
padding:10px 30px;
margin: 0px;
   }
